<div *ngIf="selectedCharacter">

  <!-- Bouton pour revenir en arrière -->
    <button (click)="goBack()">Back</button>

      <!-- Affichage du nom du personnage -->
    <h2>{{ selectedCharacter.name }}</h2>

<!-- Affichage de l'image du personnage avec la gestion de l'absence de description -->
    <img class="character" [src]="getThumbnailUrl(selectedCharacter)" alt="{{ selectedCharacter.name }} Thumbnail">
    <p class="description">Description: {{ selectedCharacter.description || 'No description available' }}</p>

<!-- Section pour afficher les éléments liées à la "carte" avec gestion des cas où il y en a ou pas -->
    <h3>Comics</h3>
    <ul class="comic">
        <ng-container *ngIf="comics && comics.length > 0; else noComics">
            <li *ngFor="let comic of comics">
                <app-comic [comic]="comic" class="comic-image"></app-comic>
            </li>
        </ng-container>
        <ng-template #noComics>
            <li class="no-available-message">No comics available</li>
        </ng-template>
    </ul>

    <h3>Series</h3>
    <ul class="comic">
        <ng-container *ngIf="series && series.length > 0; else noSeries">
            <li *ngFor="let serie of series">
                <app-series [serie]="serie"></app-series>
            </li>
        </ng-container>
        <ng-template #noSeries>
            <li class="no-available-message">No series available</li>
        </ng-template>
    </ul>

    <h3>Events</h3>
    <ul class="comic">
        <ng-container *ngIf="events && events.length > 0; else noEvents">
            <li *ngFor="let event of events">
                <app-event [event]="event"></app-event>
            </li>
        </ng-container>
        <ng-template #noEvents>
            <li class="no-available-message">No events available</li>
        </ng-template>
    </ul>
</div>
