
<body>
  <div class="navbar-container">
    <ul>
      <li><a routerLink="/marvel" routerLinkActive="active-link">Characters</a></li>
      <li><a routerLink="/page" routerLinkActive="active-link">Comics</a></li>
      <li><a routerLink="/events" routerLinkActive="active-link">Events</a></li>
      <li><a routerLink="/series" routerLinkActive="active-link">Series</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
      <li class="image-container">
        <img src="../../assets/Marvel.png" alt="logo">
      </li>
    </ul>
  </div>
  </body>