<div class="container">
    <div class="container">
      <p class="lead tex-center" id="message"></p>
    </div>
    <h2>Marvel Series</h2>
    <!-- Section de recherche et de pagination -->
    <div class="search-and-pagination">
    <form [formGroup]="searchForm" class="search-form">
      <input formControlName="search" placeholder="Search.." (input)="onSearchChange()">
    </form>
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>{{ currentPage }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
    </div>
    <!-- Affiche la liste de series -->
  <div class="flex-container">
    <ng-container *ngIf="marvelData; else loading">
      <ng-container *ngFor="let serie of filteredTitle">
        <!-- Vérification de l'existence de la miniature du series avant son affichage -->
        <ng-container *ngIf="serie.thumbnail && serie.thumbnail.path && !serie.thumbnail.path.includes('image_not_available')">
          <app-series [serie]="serie" class="character_image"></app-series>
        </ng-container>
      </ng-container>
    </ng-container>
        <!-- Affichage d'un message de chargement -->
    <ng-template #loading>Loading...</ng-template>
  </div>