<div class="container">
    <div class="container">
      <p class="lead tex-center" id="message"></p>
    </div>
    <h2>Marvel Page</h2>
    <form [formGroup]="searchForm">
      <input formControlName="search" placeholder="Search.." (input)="onSearchChange()">
    </form>
    <div class="flex-container">
    <ng-container *ngFor="let creator of filteredName">
        <app-creator [creator]="creator"></app-creator>
    </ng-container>
    </div>
    <div id="message" *ngIf="!marvelData">Loading...</div>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted" id="footer">footer</span>
    </div>
  </footer>
  