  <div *ngIf="selectedComic">

  <!-- Bouton pour revenir en arrière -->
    <button (click)="goBack()">Back</button>
      
  <!-- Affichage du titre du comic -->
    <h2>{{ selectedComic.title }}</h2>

<!-- Affichage de l'image du comic avec la gestion de l'absence de description -->
    <img class="character"[src]="getThumbnailUrl(selectedComic)" alt="{{ selectedComic.title }} Thumbnail">
    <div class="overlay">
    <p>Description: {{ selectedComic.description || 'No description available' }}</p>

<!-- Section pour afficher les éléments liées à la "carte" avec gestion des cas où il y en a ou pas -->
    <h3>Creators</h3>
          <ul class="creator">
            <ng-container *ngIf="creators && creators.length > 0; else noCreators">
              <li *ngFor="let creator of creators">
                <app-creator [creator]="creator"></app-creator>
              </li>
            </ng-container>
            <ng-template #noCreators>
              <li class="no-available-message">No creators available</li>
            </ng-template>
          </ul>
    </div>
 
    <h3>Characters</h3>
        <ng-container *ngIf="characters && characters.length > 0; else noCharacters">
        <ul class="comic">
            <li *ngFor="let character of characters">
            <app-characters [character]="character"></app-characters>
            </li>
        </ul>
        </ng-container>
        <ng-template #noCharacters>
        <p class="no-available-message">No characters available</p>
        </ng-template>
  
</div>
